.FrontPage {

    h2 {
        text-align: center;
        margin-right : 20%;
        margin-left : 20%;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        input {
            padding : 1%;
            text-align: center;
        }

        .launchSearch {
            margin-top : 3%;
            font-size : 1.2em;
            cursor : pointer;
            padding : 1%;
            background-color : orange;
            color : white;      
            -webkit-box-shadow: -4px 21px 24px 3px rgba(0,0,0,0.25);
            -moz-box-shadow: -4px 21px 24px 3px rgba(0,0,0,0.25);
            box-shadow: -4px 21px 24px 3px rgba(0,0,0,0.25);

        }
    }
    
    
    .AllMovies {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

}
